MONGO_URI=mongodb+srv://chinthakajayaweera1_db_user:JDq8c1aS1B0Nx9sV@nelna.o6tqdh4.mongodb.net/nelna?retryWrites=true&w=majority&appName=Nelna
TARGET_MONGO_URI=mongodb+srv://chinthakajayaweera1_db_user:JDq8c1aS1B0Nx9sV@nelna.o6tqdh4.mongodb.net/nelna_mirror?retryWrites=true&w=majority&appName=Nelna
SYNC_COLLECTIONS=
SYNC_LOG_LEVEL=info
PORT=5000
